.timer-pane .text {
    -fx-font-family: monospace;
}

.timer-pane {
    /*-fx-background-color: white;*/
}

.timer-rows {
    -fx-alignment: center;
    -fx-spacing: 1em;
}

.time-label {
    -fx-alignment: center;
    -fx-font-size: 3em;
    -fx-max-width: Infinity;
}

.dialog-buttons {
    -fx-padding: 1em;
    -fx-spacing: 1em;
    -fx-alignment: center-right;
}

.dialog-content {
    -fx-padding: 1em 1em 0em 1em;
}

#period-dialog-vbox {
    -fx-spacing: 1em;
}

.date-time-entry-pane {
    /*
    -fx-border-color: black;
    -fx-border-width: 1px;
    */
    -fx-padding: 0.5em;
    -fx-spacing: 0.5em;
    -fx-alignment: center;
}

.no-collapse-titled-pane {
    -fx-collapsible: false;
    -fx-animated: false;
}

.graph-bottom-label-pane {
    -fx-alignment: center-left;
    -fx-padding: 1em;
    -fx-spacing: 1em;
}

.sleep-length-chart .default-color1.chart-series-area-fill {
    -fx-fill: none;
}

.sleep-start-end-stats-pane {
    -fx-alignment: center;
    -fx-background-insets: 1em;
    -fx-padding: 1em;
    -fx-background-color: white;
    -fx-grid-lines-visible: true;
}

.sleep-start-end-stats-pane .text {
    -fx-alignment: center;
}

.pseudo-table-pane {
}

.pseudo-table-columns-hbox {
}

.pseudo-table-column-vbox {
}